@model ManyToManyStudentCourse.Data.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>       
    </dl>
</div>
<div>
@if (Model.StudentCourses != null && Model.StudentCourses.Any())
{   
     <h4>Courses</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Credit Hour</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var studentCourse in Model.StudentCourses)
            {
                <tr>
                    <td>@studentCourse.Course.Title</td>
                    <td>@studentCourse.Course.CreditHour</td>
                </tr>
            }
        </tbody>
    </table>
}
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.StudentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


